@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tooltip {
    @apply whitespace-nowrap rounded bg-black px-2 py-1 text-white absolute -top-12 left-1/2 -translate-x-1/2 before:content-[''] before:absolute before:-translate-x-1/2 before:left-1/2 before:top-full before:border-4 before:border-transparent before:border-t-black opacity-0 group-hover:opacity-100 transition pointer-events-none dark:bg-gray-700 dark:before:border-t-gray-700;
  }
  .ja {
    @apply flex flex-wrap items-center divide-gray-200 dark:divide-gray-600 sm:divide-x
  }
}

@media (prefers-color-scheme: dark) {
  .quill .ql-container .ql-editor.ql-blank::before {
    color: rgb(170, 166, 166);
  }

  .ql-formats .ql-stroke {
    fill: none !important;
    stroke: rgb(156 163 175) !important;
  }

  .ql-formats .ql-fill {
    fill: rgb(156 163 175) !important;
    stroke: none !important;
  }

  .ql-formats button:hover .ql-stroke {
    fill: none !important;
    stroke: #ffffff !important;
  }

  .ql-formats button:hover .ql-fill {
    fill: #ffffff !important;
    stroke: none !important;
  }

  .ql-formats .ql-active .ql-stroke {
    fill: none !important;
    stroke: #ffffff !important;
  }

  .ql-formats .ql-active .ql-fill {
    fill: #ffffff !important;
    stroke: none !important;
  }

  .ql-tooltip {
    background-color: rgb(55 65 81) !important;
    border-color: rgb(75 85 99) !important;
  }

  .ql-tooltip[data-mode=link]::before {
    color: white !important;
  }

  .ql-tooltip input {
    background-color: rgb(31 41 55) !important;
    color: white !important;
    border-color: rgb(75 85 99) !important;
  }

  .ql-tooltip.ql-editing a.ql-action::after {
    color: rgb(4, 155, 255);
  }

  .ql-tooltip a.ql-action::after {
    color: rgb(4, 155, 255);
  }

  .ql-tooltip::before {
    color: white;
  }

  a {
    color: rgb(4, 155, 255) !important;
    text-decoration: underline;
  }
  
  a:hover {
    color: #5bb5ff !important;
  }
}

/* 縦方向のスクロールバー */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

/* スクロールバーの棒 */
::-webkit-scrollbar-thumb {
  background-color: #C0C0C0;
  border-radius: 5px;
}

/* マウスオーバーしたときのスクロールバーの棒 */
::-webkit-scrollbar-thumb:hover {
  background-color: #A9A9A9;
}

/* 横方向のスクロールバー */
::-webkit-scrollbar-horizontal {
  height: 10px;
  background-color: transparent;
}

/* スクロールバーの棒 */
::-webkit-scrollbar-thumb:horizontal {
  background-color: #C0C0C0;
  border-radius: 5px;
}

/* マウスオーバーしたときの横方向のスクロールバーの棒 */
::-webkit-scrollbar-thumb:hover:horizontal {
  background-color: #A9A9A9;
}

.ql-editor p em {
  transform: skewX(-15deg);
  display: inline-block;
}

a {
  color: #2563eb;
  text-decoration: underline;
}

a:hover {
  color: #3b82f6;
}

.ql-snow.ql-toolbar {
  border: none !important;
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-editor {
  overflow: visible;
}

.ql-tooltip {
  top: -24px !important;
  left: 10px !important;
  position: absolute !important;
  z-index: 9999 !important;
}

.ql-tooltip.ql-editing a.ql-action::after {
  content: '保存する' !important;
}

.ql-tooltip a.ql-action::after {
  content: '編集' !important;
}

.ql-tooltip a.ql-remove::before {
  content: '削除する' !important;
  color: red !important;
}

.ql-tooltip[data-mode=link]::before {
  content: "リンクを追加：" !important;
}

.ql-tooltip::before {
  content: "URLにアクセス：" !important;
  line-height: 26px;
  margin-right: 8px;
}

.ql-tooltip {
  border-radius: 0.5rem;
  box-shadow: none !important;
}

.ql-tooltip input {
  outline: none;
  border-radius: 0.5rem;
}